@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Today is @DateTime.Now.DayOfWeek.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Client</h2>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Clients")">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Clients</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Clients")">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Service</h2>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Services")">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Services</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Services")">View &raquo;</a></p>
    </div>
</div>
