@model IEnumerable<DogGrooming.Models.Service>

@{
    ViewBag.Title = "GoToCart";
}

<h2>Your Cart</h2>
<h3>Dog Name: @ViewBag.DogName</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { id = 0 })
            </td>
        </tr>
    }

</table>

<h2>Total: €@ViewBag.Total</h2>

@Html.ActionLink("Save to File", "Invoice", "CartServices", new { @class = "btn btn-default" })

